/* FONDO ANIMADO */
body {
    background: linear-gradient(135deg, #1a0033, #330066, #6600cc, #330066);
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* BOTÓN SUPERIOR */
.mode-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

/* CALCULADORA */
.calculator {
    width: 330px;
    padding: 20px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

/* DISPLAY */
.display {
    color: white;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* BOTONES */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    padding: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:active {
    transform: scale(0.95);
}

.gray { background: #cccccc; color: black; }
.dark { background: #222; color: white; }
.orange { background: #ff6600; color: white; }
.sci { background: #0099ff; color: white; }

.zero { grid-column: span 2; }

/* OCULTAR */
.hidden { display: none; }

/* RESPONSIVE */
@media (max-width: 480px) {
    .calculator { width: 90%; }
    .display { font-size: 2.5rem; }
}
